.retweet-container {
    background-color:rgb(236, 244, 250);
}

/* #largest-container {
    border: 1px solid blue;
} */

#left-container {
    border: 1px solid lightgray;
    height: 500px;
}

#right-container { 
 border: 1px solid lightgray;
}


/* .footer {
    margin-top: 6em;
    position: fixed;
    bottom: 0;
    padding-top: 2em;
    background-color: purple;
    width: 100%;
} */

.footer-1 {
    display: flex;
    justify-content: space-between;
    flex: 1 0 0%;
}

.left-column {
    display: flex;
    justify-content: space-between;
}

.spotify-logo {
    width: 50px;
    height: 20%;
}

.ul-footer {
    list-style-type: none;
    margin: 0;
    padding: 0 2px;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    width: 200px;
    font-weight: 700;
}

.li-edit {
    line-height: 1.5;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    padding: 3px 0 15px;
    font-weight: 700;
}

.li-edit:hover {
    color: #1DA1F2;
    text-decoration: none;
}

.right-column {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 15px 0 auto;
}



.footer-text {
    color: gray;
    text-decoration: none;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.left-column-2 {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    font-size: 12px;
    margin-right: 10%;
}

.hashtag {
    cursor:pointer;
}

.hashtag:hover {
    text-decoration: underline
}